/* ---- reset ---- */

body {
    margin: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 60vh;
    background-color: #2980B9;
    background-color: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    background-color: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

/* loader css */

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/images/gear.gif) #ffffff no-repeat center;
}